.fretboard * {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.fretboard {
    float: left;
    margin: 1cm;
}

.fretboard tr {
    padding: 0;
    margin: 0;
}

.fretboard tr td {
    width: 18px;
    height: 24px;
    padding: 0;
    margin: 0;
    font-size: 12pt;
    text-align: center;
    border-top: 1px solid #aaa;
    border-left: 1px solid black;
}

.fretboard tr td.laststr {
    border-right: 1px solid black;
}

.fretboard tr.lastfret td {
    border-bottom: 1px solid black;
}

.spacer {
    margin-right: 15px;
}

#help {
    display: none;
}

.fretboard tr td.fretnumber {
    font-size: 10px;
    border: 0;
    width: 5px;
    vertical-align: bottom;
    text-align: right;
}

#help {
    width: 500px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 50px;
    border-width: 2px;
    line-height: 18px;
}

#help p, #help sup {
    padding: 3px;
}

.advanced {
    display: none;
}

.pt {
    display: none;
}