#interface {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.fretboard {
    page-break-inside: avoid;
}

.hidden-print {
    display: none !important;
}

@page {
    margin: 0cm;
}