<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fretboard Printer</title>
    <meta name="description" content="Fret printing as easy as it could be..">


    <meta name="viewport" content="width=device-width">
    <link href="bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="custom.css" rel="stylesheet" media="screen"/>

    <link media="all" href="../css/main.css" type="text/css" rel="stylesheet"/>
    <link media="print" href="../css/print.css" type="text/css" rel="stylesheet"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="../js/app.js"></script>-->

    <link rel="shortcut icon" type="image/x-icon" href="images/frets.ico">

</head>
<body ng-app="FretsApp">


<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a
    different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
    to experience this site.</p><![endif]-->
<div class="page-content-wrapper" ng-controller="FretboardsCntl">
<header class="header hidden-print">
    <div class="row">
        <div class="span4">
            <a class="logo-link" href="">
                <img class="frets-icon" src="images/frets.ico"/>

                <h1 class="logo-container">
                        <span class="logo">
                            <span class="logo-fret">Fretboard</span>Printer
                        </span>
                </h1>
            </a>
        </div>

        <div class="menu span8 pull-right">
            <ul class="menu-list">

                <li class="menu-item">
                    <a href="About">About</a>
                </li>

                <li class="menu-item highlight-item">
                    <a href="">Get Started Now</a>
                </li>

            </ul>
        </div>
    </div>
</header>


<div class="hero-unit hidden-print">
    <div class="container">
        <h1>Because frets should be easier to print</h1>

        <h2>Check out these cool diagrams we made just for you</h2>

        <ul class="row ">
            <li class="span3 guitar float-up">
                <p>Guitar Fretboard</p>

                <p>Great for the standard guitars, with 14 frets per diagram, common inlay pattern
                    and showing fret numbers.</p>
            </li>

            <li class="span3 bass float-up">
                <p>Four Strings</p>

                <p>A well spaced 4-string fretboard that works great for basses, ukuleles, cavaquinhos and other
                    instruments of four strings.</p>
            </li>

            <li class="span3 banjo float-up">
                <p>Chord Boxes</p>

                <p>Perfect for sketching out the fretboard shape patterns of chords and scales.</p>
            </li>

            <li class="span3 more float-up">
                <p>And More</p>

                <p>Create you own fretboard.</p>
            </li>
        </ul>

        <div class="row get-started-now">
            <a href="" class="btn btn-large btn-warning getting-started-btn" ng-click="getStarted()">Get Started Now</a>
        </div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="span12 white-panel no-padding">
            <h3 class="tab-title hidden-print">Fretboard Presets</h3>
            <ul class="nav nav-tabs hidden-print activatable-container">
                <li class="activatable" ng-class="{active: $index == selectedPresetIndex}" ng-repeat="def in presets">
                    <a href="" ng-click="activatePreset(def.preset, $index)">{{ def.name }}</a>
                </li>
            </ul>

            <!-- End tabs -->
            <div class="button-text-panel main-actions hidden-print">
                <div class="btn btn-large">Share</div>
                <div class="btn btn-large">Edit</div>
                <div href="signup" class="btn btn-large btn-warning print-action" ng-click="print()">Print Diagram</div>
            </div>

            <div class="settings-panel">

                <div class="settings-card">
                    <div class="card-title">Diagram</div>
                    <ul class="settings-list">
                        <li>
                            <label class="settings-label">Diagrams</label>
                            <select ng-model="howMany" ng-options="e for e in range(1, 30)"
                                    class="span1 settings-input">
                            </select>
                        </li>

                        <li>
                            <label class="settings-label">Margins</label>
                            <select ng-model="margin" ng-options="e for e in marginOptions"
                                    class="span1 settings-input">
                            </select>
                        </li>

                        <li>
                            <label class="settings-label">Size</label>
                            <select ng-model="size" ng-options="k for (k, v) in sizeOptions"
                                    class="span1 settings-input">
                            </select>
                        </li>

                        <li>
                            <label class="settings-label">Numbers</label>
                            <input class="span1 settings-input" type="checkbox" ng-model="showNumbers"/>
                        </li>


                    </ul>
                </div>
                <div class="settings-card">
                    <div class="card-title">Frets</div>
                    <ul class="settings-list">
                        <li>
                            <label class="settings-label">Strings</label>
                            <select ng-model="numStrings" ng-options="o for o in range(4, 8)"
                                    class="span1 settings-input">
                            </select>
                        </li>
                        <li>
                            <label class="settings-label">Frets</label>
                            <select ng-model="numFrets" ng-options="o for o in range(4, 16)"
                                    class="span1 settings-input">
                            </select>
                        </li>
                        <li>
                            <label class="settings-label">Inlay</label>
                            <select ng-model="inlay" ng-options="k for (k, v) in inlayOptions"
                                    class="span1 settings-input">
                            </select>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content">
                <div id="main">
                    <table class="fretboard" ng-repeat="item in range(1, howMany)" ng-style="boardStyle()">
                        <tr ng-repeat="type in fretboardRepr()">
                            <td class="fretnumber" ng-style="numbersStyle()">{{ $index + 1 }}</td>
                            <td ng-repeat="s in range(2, numStrings)" ng-style="size.style">
                                {{ numStrings|dotmark:$index:type }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="top-border">
                <div class="button-text-panel pull-right hidden-print">
                    <div class="btn btn-large">Share</div>
                    <div class="btn btn-large">Edit</div>
                    <div href="signup" class="btn btn-large btn-warning print-action" ng-click="print()">Print Diagram
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-content-wrapper -->

<footer class="footer hidden-print">
    <div class="container">
        <div class="row">
            <div class="span12">
                <a class="logo-link" href="">
                    <img class="frets-icon" src="images/frets.ico"/>

                    <h1 class="logo-container">
                            <span class="logo">
                                <span class="logo-fret">Fretboard</span>Printer
                            </span>
                    </h1>
                </a>

                <p>Because frets should be easier to print.</p>
            </div>
        </div>
        <div class="row links-horizontal">
            <div class="span12">
                <ul>
                    <li>Created and designed by</li>
                    <li><a href="http://twitter.com/mgleandro">Leandro</a></li>
                    <li><a href="http://twitter.com/eliasdorneles">Elias</a></li>
                </ul>
            </div>
        </div>
        <p>Copyright is a lie. All rights and stuff are meaningless. Thank you for using. Buy us an Acai =P</p>
    </div>
</footer>

</div>
</body>
</html>
